pydantic>=2.10.4
requests>=2.32.3
pytz>=2024.2
matplotlib>=3.10.0
python-dotenv>=1.0.1
pillow>=11.1.0
openai>=1.59.7
scipy>=1.15.2
SQLAlchemy>=2.0.39
RapidFuzz>=3.13.0
numpy>=2.2.1
jellyfish>=1.2.0
Metaphone>=0.6